.bd{
    color: #0c8772;
    text-align: end;
    margin-left: 100px;
    position: relative;
    right: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 20px;
    margin: 0;
}

.bd button{
    text-decoration: none; 
    color: #0c8772;
    padding-left: 10px;
    font-weight: bold;
    background-color: white;
    border: none;
    height: 40px;
}

.bd button:hover{
    text-decoration: overline 3px;
    box-shadow:0 4px 8px 0 gray;
}

.datewarn{
    color: red;
    /* margin-top: 350px; */
    text-align: center;
    font-size: small;
    /* margin-left: 40%; */
    padding: 5px;
}

#control_wrapper {
    max-width: 246px;
    float: left;
}
.control-section {
    margin-left: 15px auto;
}

.container{
    display: inline-block;
    padding: 10px;
}

.nextdate{
    width: 80%;
    height: 30px;
    background-color: #98fb98;
    color: #228b22;
    text-align: center;
    display: none;
    padding: 5px;
    margin-left: 10%;
    position: fixed;
}