<header class="bd">
    <a href="/">Home</a>
    <a href="#shopsec">Shop</a>
    <a href="#dinersec">Diner</a>
    <a href="#entertainsec">Entertain</a>
    <a routerLink="/businessSpace">Business Space</a>
    <a routerLink="/login">Login</a>
</header>
<section style="height: 50px;width: 98%;"></section>
<div class="mainimg"></div>
<div class="shop" style="text-align: center;">
<div id="shopsec" style="text-align: center;margin-top: 20px;text-shadow: grey;font-weight: bold;">
    SHOP
</div>
</div>
<section style="background-image: url('/assets/shop01.png');margin-left: 15px;" class="shopimage"></section>
<div style="height: 10px;width: 10px;"></div>
<section style="background-image: url('/assets/shop02.png');margin-left: 15px;" class="shopimage"></section>
<div class="shop" style="text-align: center;background-image: url('/assets/head1.png');">
    <div style="text-align: center;margin-top: 20px;text-shadow: grey;font-weight: bold;" id="dinersec">
        DINER
    </div>
    </div>
<section style="background-image: url('/assets/din.png');margin-left: 15px;" class="shopimage"></section>
<div class="shop" style="text-align: center;background-image: url('/assets/head2.png');">
    <div style="text-align: center;margin-top: 20px;text-shadow: grey;font-weight: bold;" id="entertainsec">
        Entertain
    </div>
    </div>
    <div style="height: 10px;width: 10px;"></div>
<section style="background-image: url('/assets/ent.png');margin-left: 15px;" class="shopimage"></section>
<div style="height: 10px;width: 10px;"></div>
<section style="background-image: url('/assets/h7.png');height: 200px;position: absolute;width: 100%;">
<div>
    <table style="width: 98%;margin: 20px;">
   <tr>
    <th>ABC MALL</th>
    <th>Property</th> 
    <th>Follow Us</th> 
   </tr>
    <tr>
    <td>Western Highway GT-Road </td>
    <td>Real Estate Pvt Ltd.</td>
    <td><img src="/assets/fb.jpg" style="width: 20px;height: 20px;margin-right: 10px;"><a href="https://facebook.com/profile.php?id=100007555270033"><font style="text-decoration:none;color: white;">Facebook</font></a></td>
    </tr>
    <tr>
    <td>Meerut U.P (250002)</td>
    <td>+91 8171733710</td>
    <td><img src="/assets/tw.jpg" style="width: 20px;height: 20px;margin-right: 10px;"><a href="https://twitter.com/ParasJa33558857"><font style="text-decoration:none;color: white;">twitter</font></a></td>
    </tr>
    <tr>
        <td>paras.2426@gmail.com</td>
        <td>+91 7528900314</td>
        <td><img src="/assets/in.jpg" style="width: 20px;height: 20px;margin-right: 10px;"><a href="https://instagram.com/parasjain.2426"><font style="text-decoration:none;color: white;">Instagram</font></a></td>
    </tr>    
    </table>
</div>
</section>